html, body
{
	height:100%;
	background-color:#f2f2f2;
}

.main
{
	text-align:center;
}

.bordernone
{
	border:none;
}

.button
{
	appearance:button;
	background-color:#4caf50;
	color:#ffffff;
}

.button2
{
	padding:5px;
	appearance:button;
	background-color:#4caf50;
	color:#ffffff;
}

.inher
{
	height:auto;
}